.DS_Store
audl/.DS_Store
audl/pages/
audl/player-files
audl/game-history
audl/player-game-stats
audl/team-files
venv
*.class
.vscode
node_modules
connection.json
/.idea
weather/game-history/
weather/game-history2/
