<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Input</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <div class="container-md">
      <figure class="text-center">
        <h1>Customize Match Settings</h1>
        <p class="lead">
          The fate of the disc is in your hands!
        </p>
      </figure>      
      <div class="container-lg">
        <div class="row">
          <div class="col">
            Select a Home Team        
          </div>
          <div class="col">
            Select an Away Team           
          </div>
        </div>
      </div>
      <div class="container-lg text-center">
        <div class="row">
          <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option value="1">Atlanta Hustle</option>
                <option value="2">Austin Sol</option>
                <option value="3">Boston Glory</option>
                <option value="4">Carolina Flyers</option>
                <option value="5">Chicago Union</option>
                <option value="6">Colorado Summit</option>
                <option value="7">Dallas Legion</option>
                <option value="8">DC Breeze</option>
                <option value="9">Detroit Mechanix</option>
                <option value="10">Indianapolis Alleycats</option>
                <option value="11">Los Angeles Aviators</option>
                <option value="12">Madison Radicals</option>
                <option value="13">Minnesota Wind Chill</option>
                <option value="14">Montreal Royal</option>
                <option value="15">New York Empire</option>
                <option value="16">Oakland Spiders</option>
                <option value="17">Ottowa Outlaws</option>
                <option value="18">Philadelphia Phoenix</option>
                <option value="19">Pittsburgh Thunderbirds</option>
                <option value="20">Portland Nitro</option>
                <option value="21">Salt Lake Shred</option>
                <option value="22">San Diego Growlers</option>
                <option value="23">Seattles Cascades</option>
                <option value="24">Tampa Bay Cannons</option>
                <option value="25">Toronto Rush</option>
              </select>
          </div>
          <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option value="1">Atlanta Hustle</option>
                <option value="2">Austin Sol</option>
                <option value="3">Boston Glory</option>
                <option value="4">Carolina Flyers</option>
                <option value="5">Chicago Union</option>
                <option value="6">Colorado Summit</option>
                <option value="7">Dallas Legion</option>
                <option value="8">DC Breeze</option>
                <option value="9">Detroit Mechanix</option>
                <option value="10">Indianapolis Alleycats</option>
                <option value="11">Los Angeles Aviators</option>
                <option value="12">Madison Radicals</option>
                <option value="13">Minnesota Wind Chill</option>
                <option value="14">Montreal Royal</option>
                <option value="15">New York Empire</option>
                <option value="16">Oakland Spiders</option>
                <option value="17">Ottowa Outlaws</option>
                <option value="18">Philadelphia Phoenix</option>
                <option value="19">Pittsburgh Thunderbirds</option>
                <option value="20">Portland Nitro</option>
                <option value="21">Salt Lake Shred</option>
                <option value="22">San Diego Growlers</option>
                <option value="23">Seattles Cascades</option>
                <option value="24">Tampa Bay Cannons</option>
                <option value="25">Toronto Rush</option>
              </select>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
            Modify the wind speed:
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="input-group">
                <input type="number" class="form-control" min="0" max="30" aria-label="Windspeed in MPH">
                <span class="input-group-text">mph</span>
              </div>
        </div>
      </div>
      <br>
      <div class="container-sm">
        <div class="row">
            <div class="col">
                
            </div>
            <div class="col">
                <img src="/static/maxresdefault.jpeg" class="img-fluid" alt="...">
            </div>
            <div class="col">
                
            </div>
        </div>
      </div>
      <br>
      <div class="container-lg text-center">
        <div class="row">
            <form action="{{ url_for('output') }}">
                <input type="submit" class="btn btn-primary" value="Predict Match" />
              </form>
        </div>
      </div>
    </div>

  </body>
</html>