.picture-players-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.picture-player {
    flex: 1 0 15%;
}

.stat-summary {
    display: flex;
    justify-content: center;
}

.stat-summary-col {
    text-align: left;
}

.add-player-container {
    display: flex;
    justify-content: center;
}

.add-player-col {
    flex: 2 0 50%;
}