.game-event {
    display: flex;
    background-color: #222232;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-container {
    border-width: 10px;
    border-radius: 100%;    
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

.game-event-winner {
    flex: 1 0 15%;
}

.game-event-piece {
    display: flex;
    flex: 1 0 25%;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.piece-item {
    flex: 1 0 50%;
}